.button {
    /*margin: 0;*/
    padding: 10px 40px;
    border-radius: 2px;
    display: inline-block;
    color: white;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    font-weight: 500;
}
